// $back-color: #026873;
// $primary-color: #013440;
// $secondary-color: #038C7F;
// $text-primary-color: #2222;
// $highlight: #593954;
// $white-color: #FFFFFF;

// $back-color: #121416;
// $primary-color: #73141B;
// $secondary-color: #401519;
// $text-primary-color: #2222;
// $highlight: #F20C36;
// $white-color: #FFFFFF;

// $back-color: #33B689;
// $primary-color: #EDEEE9;
// $secondary-color: #f1f1f1;
// $text-primary-color: #2222;
// $highlight: #426c34;
// $white-color: #1E2A1E;
// $hover: #000000;

$back-color: #dadada;
$primary-color: #f6f6f6;
$secondary-color: #f0f0f0;
$text-primary-color: #FFFFFF;
$highlight: #6d31c1;
$white-color: #000000;