.sidebar-left {
    width: 15%;
    height: 100%;
    position: fixed;
    padding: 10px 0;
    background-color: $primary-color;
    color: $white-color;

    .sidebar-header {
        display: flex;
        justify-content: center;
        padding: 10px;

        .image-container {
            width: 70%;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 4px solid $highlight;
            border-radius: 125px;
            overflow: hidden;
        }
    }
    
    .sidebar-section {
        margin: 10px 0px 0px 30px;
        i {
            font-size: 20px;
        }
        
        .sidebar-title {
            margin-bottom: 10px;
            color: $highlight;
        }

        .sidebar-list {
            list-style: none;
            margin: 0;
            padding: 0;
        }

        .sidebar-social {
            list-style: none;
            i {
                font-size: 30px;
            }
        }

        a {
            color: $white-color;
            text-decoration: none;
            &:hover {
                color: $highlight;
                transition: color 1s;
            }
        }
    }

    .sidebar-footer {
        border-top: 1px solid $white-color;
        margin: 0 40px;
        padding: 10px 0 0 0;
        position: relative;
        top: 70px;
        .content-footer{
            a {
                color: $highlight;
                text-decoration: none;
                &:hover {
                    color: darken($highlight,5);
                    transition: color 1s;
                }
            }
        }
    }

}

@media (max-width: 768px) {
    .sidebar-left {
        width: 25%;
        position: absolute;
        background-color: $text-primary-color;
        font-size: 0.8em;
        .sidebar-footer {
            font-size: 0.7em;
            top: 58px;
            //padding: 0 0 10px 0;
        }
    }
    
}

@media (max-width: 450px) {
    .sidebar-left {
        display: block; // Mostrar en móvil
        width: 45%; // Ocupar todo el ancho
        position: absolute; // Encima del contenido
        z-index: 1000;
        transform: translateX(-100%); // Oculto por defecto
        transition: transform 0.3s ease;
    }

    // Botón para mostrar el sidebar
    .menu-sidebar {
        display: block;
        position: fixed;
        top: 20px;
        left: 20px;
        z-index: 1001;
        background-color: $highlight;
        color: $white-color;
        font-size: 19px;
        border: none;
        padding: 10px;
        cursor: pointer;
    }

    .sidebar-left.active {
        transform: translateX(0); // Mostrar sidebar al hacer clic en el botón
    }

    .overlay {
        display: none; // Oculto por defecto
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5); // Fondo semitransparente
        z-index: 999;
    }

    .overlay.active {
        display: block; // Mostrar cuando el sidebar está abierto
    }
}